# Storacha / Filecoin
NEXT_PUBLIC_STORACHA_SPACE_DID=did:key:your_space_did_here
STORACHA_AGENT_PRIVATE_KEY=your_agent_private_key_here

# Lit Protocol
NEXT_PUBLIC_LIT_NETWORK=datil-dev
LIT_AUTH_PRIVATE_KEY=your_lit_auth_private_key_here

# Flow Blockchain
NEXT_PUBLIC_FLOW_ACCESS_NODE=https://rest-testnet.onflow.org
NEXT_PUBLIC_FLOW_DISCOVERY_WALLET=https://fcl-discovery.onflow.org/testnet/authn
FLOW_ACCOUNT_ADDRESS=0xYOUR_FLOW_ADDRESS
FLOW_PRIVATE_KEY=your_flow_private_key_here

# NEAR Protocol
NEXT_PUBLIC_NEAR_NETWORK_ID=testnet
NEXT_PUBLIC_NEAR_NODE_URL=https://rpc.testnet.near.org
NEAR_ACCOUNT_ID=your_account.testnet
NEAR_PRIVATE_KEY=your_near_private_key_here
